<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <h1>Signup Project</h1>
    <a href="{%url 'new'%}">Write Your Informaion</a>
    {%for sign in signup%}
        <h1>{{sign.name}}</h1>

        {{sign.pub_date}}
        <br>
        {{sign.age}}
        <br>
        {{sign.email}}
        <br>
        {{sign.introduce}}
        <a href="{% url 'detail' sign.id %}">...more</a>
    {%endfor%}
</body>
</html>